.contentbigword:{
		font-weight:normal; 
		font-size: 20px;
		font-family:'微软雅黑';
		color:#686868;}
.smaller{
		font-weight:normal; 
		font-size: 12px;
		font-family:'Arial';
		color:#a9a8a8;}
.contentcolor{color: #22a3d3;}	
p.no2{
	text-indent: 2em;
}